<!-- Menu Container -->
<div class="w3-container" id="menu">
    <div class="w3-content" style="max-width:700px">
   
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE MENU</span></h5>
    
      <div class="w3-row w3-center w3-card w3-padding">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
          <div class="w3-col s6 tablink">Eat</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
          <div class="w3-col s6 tablink">Drink</div>
        </a>
      </div>
  
      <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
        <div *ngFor="let item of menufoods">
          <h5>{{item.name}}</h5>
          <p class="w3-text-grey">{{item.desc}} {{item.price}}</p><br>
        </div>
      
      </div>
  
      <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
       
        <div *ngFor="let item of menudrinks">
          <h5>{{item.name}}</h5>
          <p class="w3-text-grey">{{item.desc}} {{item.price}}</p><br>
        </div>

      </div>  
      <img src="https://www.w3schools.com/w3images/coffeehouse2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
    </div>
  </div>